:root {
    --colorH-F : #132837 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.gridConteiner {
    display: grid;
    grid-template-columns: 1fr;

}

header , footer {
    background-color: var(--colorH-F);
    padding: 30px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.sectionIndex {
    margin: 40px 0px;
}

.flexConteiner{
    display: flex;
    flex-wrap: wrap;

}

.flexConteiner > * {
    width: 100%;
}


@media   {
    
}









