:root {
    --colorH-F : #132837 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.divBanner img {
    height: 300px;
}

.gridConteiner {
    display: grid;
    grid-template-columns: 1fr;

}

header , footer {
    background-color: var(--colorH-F);
    padding: 30px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}



.sectionIndex {
    margin: 40px 0px;
}


.flexConteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.flexConteiner > * {
    width: 100%;
    border: 1.5px solid rgba(5, 5, 5 , 0.2);  
}

.flexConteiner figure h3   {
    padding: 5px 10px 0 10px;
}

.flexConteiner figure p{
    padding: 0 10px 10px 10px;
}
#sectionDestinos{
    padding-bottom: 50px;
}
#sectionDestinos select {
    width: 100%;
    height: 40px;
}






@media screen and (min-width:768px) {
    .sectionIndex{
        width: 90%;
        margin: 40px auto;
    } 
    
/*GRID*/


}/*768*/

@media screen and (min-width:992px) {

    .gridConteiner {
        padding: 60px 0;
    }
    
    .sectionIndex{
        width: 80%;
        margin: 40px auto;
    }   
.flexConteiner > * {
    width: calc(33% - 10px);
    margin: auto;
}


/*GRID*/



}/*992*/











