:root {
    --colorH-F : #132837 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.gridConteiner {
    display: grid;
    grid-template-columns: 1fr;

}

header , footer {
    background-color: var(--colorH-F);
    padding: 30px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.sectionIndex {
    margin: 40px 0px;
}

.flexConteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.flexConteiner > * {
    width: 100%;
    border: 1.5px solid rgba(5, 5, 5 , 0.2);  
}




@media screen and (min-width:768px) {

    
/*GRID*/


}/*768*/

@media screen and (min-width:992px) {

.gridConteiner{
    width: 80%;
    margin: auto;
}    
.flexConteiner > * {
    width: calc(33% - 10px);
    margin: auto;
}


/*GRID*/



}/*992*/

@media screen and (min-width:1200px) {



/*GRID*/


}/*1200*/









